<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
            <li class='nav-item'><%= link_to 'My photos', images_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Find photos', user_dashboard_path, class: 'nav-link' %></li>
